In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

#df.groupby('col')['val'].agg(', ' .join).000000000

df = pd.read_csv('fortune500.csv')
df = df.drop(columns=['industry', 'state', 'city'])
df.columns = ["Longitude", "Latitude", "Company", "Location"]
df.describe()
# len(df)
# df.dtypes

         Longitude     Latitude
count  1000.000000  1000.000000
mean    -89.886327    38.135856
std      15.414198     4.614641
min    -157.858000    18.429400
25%     -95.994100    34.968775
50%     -86.158100    39.647800
75%     -77.177300    41.252400
max     -66.060200    47.674000